# Python
__pycache__/
*.py[cod]
*.sqlite3
.env

# Virtual Environment
env/
venv/

# Node.js
node_modules/
dist/

# Django static/media
staticfiles/
media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
